.heat-content{
    background: black;
    height: fit-content;
   }

.heat-content .nav-head{
    display: flex;
    flex-direction: row;
    color: antiquewhite;
    /* padding: 8px; */
    justify-content: space-between;
    align-items: center;
}
.head-L{
    display: flex;
    padding-left: 1rem;
}
.head-R{
    display: flex;
    padding-right: 1rem;
    align-items: center;
}
.head-R-item{
    list-style: none;
    padding-right: 1rem;
}
 .head-R .input{
    padding: 4dpx;
    padding-left: 2rem;
    outline: none;
}
.heat-content .nav-head .head-R a{
  text-decoration-line: none;
  color: white;
}
.icon-search{   
   color: black;
   padding-left: 1rem;
   margin-right: -1.6rem;
   z-index: +99;
   padding-right: 4px;
   border-right: 2px solid black;
}
.head-R .icon{   
       font-size: 1.3rem;
    }
